# Ignore system files
.DS_Store
Thumbs.db

# Ignore development and environment-specific files
node_modules/
npm-debug.log
yarn-error.log
*.log
*.bak

# Ignore build and compiled files
/dist/
/build/

# Ignore configuration files
*.config

# Ignore composer files
/vendor/

# Ignore IDE files
.idea/
*.iml

/*.zip

# Ignore backup files
*.bak
*.swp
*~
*.save
*.old

# Ignore log files
*.log
log.txt
